# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependencies
node_modules
.pnp
.pnp.js

# Build files
dist
dist-ssr
build
coverage

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Local development
*.local

# Editor directories and files
vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Cache
.cache
.temp
.tmp

# Misc
.DS_Store
Thumbs.db

# Testing
/coverage
/cypress/videos/
/cypress/screenshots/

# Production
build

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local Netlify folder
.netlify

# Vercel
.vercel

# Debug logs
.pnpm-debug.log*
